.idea/
venv/
Patient-centered-2024/tempt/*
!Patient-centered-2024/tempt/.gitkeep
!Patient-centered-2024/tempt/医生信息Local.csv
!Patient-centered-2024/tempt/问诊信息Local.csv
Patient-centered-2024/.obsidian
Patient-centered-2024/config.json